{{> head }}
<div class="container-fluid">
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Colombia</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ullam, aspernatur eveniet odio voluptatem consequuntur laboriosam atque odit rerum, id saepe, suscipit repellendus eligendi provident laudantium molestiae earum iste eos?P</p>
        </div>
        <div class="col-4">
            <img src="" alt="" class="img-thumbnail">
        </div>
    </div>
    {{> footer }}